html {
	margin: 0px;

	background-color: #150a23;

}
body {
	margin: 0px;

	overflow: hidden;
}
#view {
	border: 0px;
	vertical-align: top;
	display: block;
}
#Canvas {
	display: none;
}
.mapData {
	display: none;
}
